<div
  id="carouselExampleAutoplaying"
  class="carousel slide"
  data-bs-ride="carousel"
  data-bs-touch="true"
>
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="2000">
      <img
        src="./assets/carousel/pexels-zakaria-boumliha-2827392.jpg"
        class="d-block w-100"
        alt="..."
        style="height: 500px"
      />
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="./assets/carousel/pexels-victor-freitas-841130.jpg"
        class="d-block w-100"
        alt="..."
        style="height: 500px"
      />
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <img
        src="./assets/carousel/pexels-li-sun-2294361.jpg"
        class="d-block w-100"
        alt="..."
        style="height: 500px"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleAutoplaying"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
